.page {
    width: 100%;
    height: 85%;

    position: relative;

    .title {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            padding: 1rem;
            font-size: xx-large;
            // color: rgba($color: white, $alpha: .8);
        }
        
        // .small-h1 {
        //     font-size: xxx-large;
        // }
        
        input[name="search"]{
            width: 200px;
            height: 25px;
            padding: .5rem;
            border: none;
            border-radius: 10px;
        }
    }
        
    .apps-container {
        height: 100%;
        width: 100%;

        // Positioning
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;

        // Hide scrollbar
        // ::-webkit-scrollbar {
        //     background: transparent;  /* Optional: just make scrollbar invisible */
        // }
    } 
}