.page {
    width: 100%;
    height: 85%;

    position: relative;

    h1 {
        padding: 1rem;
        // color: rgba($color: white, $alpha: .8);
    }

    .small-h1 {
        font-size: xxx-large;
    }

    input[name="search"]{
        width: 200px;
        height: 25px;
        padding: .5rem;
        border: none;
        border-radius: 10px;
    }

    .top-right {
        position: absolute;
        top: 40px;
        right: 50px;
    }

    .apps-container {
        height: 100%;
        width: 100%;

        // Positioning
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;

        // Hide scrollbar
        // ::-webkit-scrollbar {
        //     background: transparent;  /* Optional: just make scrollbar invisible */
        // }
    } 
}