@use '../components/Header/header';
@use '../components/NavBar/navbar';

* {
  // border: 1px solid red;
  // box-sizing: border-box;
  // color: #213547;
  color: #2a2a2a;

}

#root {
  // margin: 0 auto;
  text-align: center;
}

/* APP */
.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  // background-image: url(../assets/12052022-BLUE-WAVES-PC.png);
  // background-image: url(../assets/logo-bg-teal-25.png);
  // background-color: #c5e5fe;
  // background-color: #00a2ad;
  // background-color: #f9f7f6;
  // background-color: #141526;
  background-color: #dcd8d7;
}


/* MAIN */
.main {
  margin: 3rem;
  width: 100%;
  height: 90%;

  background-color: rgba($color: white, $alpha: .2);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px white;
  border-top: 1px solid #ffffff40;
  border-left: 1px solid #ffffff33;
  // border-radius: 10px;
}
