.home {
    
    .apps-container {
        height: 100%;
        width: 100%;

        // Positioning
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        overflow-y: scroll;

        // Hide scrollbar
        // ::-webkit-scrollbar {
        //     background: transparent;  /* Optional: just make scrollbar invisible */
        // }
    }
}